.Homepage {
    background: linear-gradient(#111, #111),
        url("../assets/Noise & Texture.png");
    background-size: cover;
    background-blend-mode: overlay;
    font-family: Montserrat;
}

.Homepage_content {
    display: flex;
    position: relative;

    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100vw;
    min-height: 85vh;
}

.Homepage_content > div {
    background: inherit;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    z-index: 3;
}
.Homepage_content_motto_first {
    font-family: Montserrat;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(
        180deg,
        #f2c698 0%,
        rgba(242, 198, 152, 0) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Homepage_content_motto_second {
    font-family: Montserrat;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(
        180deg,
        #f2c698 38.02%,
        rgba(242, 198, 152, 0) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Homepage_content_description {
    color: #ed6a6c;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 30vw;
}

.Homepage_content_button {
    border-radius: 0.3125rem;
    background: #f2c698 !important;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 800;
    padding: 0.5rem 2rem;
}

.Homepage_quote1 {
    color: #f2c698;
    text-align: center;
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding : 0 10vw;
}


.Homepage_quote1::first-letter,
.Homepage_quote1 span:nth-child(6),
.Homepage_quote1 span:nth-child(7),
.Homepage_quote1 span:nth-child(22),
.Homepage_quote1 span:nth-child(28),
.Homepage_quote1 span:nth-child(31),
.Homepage_quote1 span:nth-child(32),
.Homepage_quote1 span:nth-child(47) {
    color: #ed6a6c !important;
}